@media only screen and (max-width: 1450px) {
    .conteudo {
        font-size: 32px;
    }

    .container {
        max-width: 100%;
        width: 90%;
    }

    .flex-1 {
        flex: 1;
        min-width: 45%;
    }

}